[submodule "Bundles/LESS.tmbundle"]
	path = Bundles/LESS.tmbundle
	url = git://github.com/appden/less.tmbundle.git
[submodule "Bundles/Git.tmbundle"]
	path = Bundles/Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
[submodule "Bundles/Ruby on Rails.tmbundle"]
	path = Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Bundles/rsync.tmbundle"]
	path = Bundles/rsync.tmbundle
	url = git://github.com/itspriddle/tm-rsync.git
[submodule "Bundles/jQuery.tmbundle"]
	path = Bundles/jQuery.tmbundle
	url = git://github.com/kswedberg/jquery-tmbundle.git
[submodule "Bundles/JavaScript Tools.tmbundle"]
	path = Bundles/JavaScript Tools.tmbundle
	url = git://github.com/johnmuhl/javascript-tools-tmbundle.git
[submodule "Bundles/Ruby.tmbundle"]
	path = Bundles/Ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "Bundles/GitHub.tmbundle"]
	path = Bundles/GitHub.tmbundle
	url = git://github.com/drnic/github-tmbundle.git
[submodule "Bundles/Josh's Stuff.tmbundle"]
	path = Bundles/Josh's Stuff.tmbundle
	url = git://github.com/itspriddle/my-textmate-bundle.git
[submodule "Bundles/Formtastic.tmbundle"]
	path = Bundles/Formtastic.tmbundle
	url = git://github.com/grimen/formtastic_tmbundle.git
[submodule "Bundles/mCSS.tmbundle"]
	path = Bundles/mCSS.tmbundle
	url = git://github.com/minimaldesign/mCSS.tmbundle.git
[submodule "Bundles/Android.tmbundle"]
	path = Bundles/Android.tmbundle
	url = git://github.com/peon/Android.tmbundle.git
[submodule "Bundle/rsync.tmbundle"]
	path = Bundle/rsync.tmbundle
	url = git://github.com/itspriddle/tm-rsync.git
[submodule "Bundles/HTML5.tmbundle"]
	path = Bundles/HTML5.tmbundle
	url = git://github.com/johnmuhl/html5.tmbundle.git
