[submodule "Bundles/Git.tmbundle"]
	path = Bundles/Git.tmbundle
	url = git://github.com/timcharper/git-tmbundle.git
[submodule "Bundles/Ruby on Rails.tmbundle"]
	path = Bundles/Ruby on Rails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Bundles/jQuery.tmbundle"]
	path = Bundles/jQuery.tmbundle
	url = git://github.com/kswedberg/jquery-tmbundle.git
[submodule "Bundles/JavaScript Tools.tmbundle"]
	path = Bundles/JavaScript Tools.tmbundle
	url = git://github.com/johnmuhl/javascript-tools-tmbundle.git
[submodule "Bundles/Ruby.tmbundle"]
	path = Bundles/Ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "Bundles/GitHub.tmbundle"]
	path = Bundles/GitHub.tmbundle
	url = git://github.com/drnic/github-tmbundle.git
[submodule "Bundles/Josh's Stuff.tmbundle"]
	path = Bundles/Josh's Stuff.tmbundle
	url = git://github.com/itspriddle/my-textmate-bundle.git
[submodule "Bundles/Formtastic.tmbundle"]
	path = Bundles/Formtastic.tmbundle
	url = git://github.com/grimen/formtastic_tmbundle.git
[submodule "Bundles/mCSS.tmbundle"]
	path = Bundles/mCSS.tmbundle
	url = git://github.com/minimaldesign/mCSS.tmbundle.git
[submodule "Bundles/Android.tmbundle"]
	path = Bundles/Android.tmbundle
	url = git://github.com/peon/Android.tmbundle.git
[submodule "Bundles/HTML5.tmbundle"]
	path = Bundles/HTML5.tmbundle
	url = git://github.com/johnmuhl/html5.tmbundle.git
[submodule "Bundles/Titanium Mobile.tmbundle"]
	path = Bundles/Titanium Mobile.tmbundle
	url = git://github.com/subtleGradient/JavaScript-Appcelerator-Titanium-Mobile.tmbundle.git
[submodule "Bundles/CoffeeScript.tmbundle"]
	path = Bundles/CoffeeScript.tmbundle
	url = git://github.com/jashkenas/coffee-script-tmbundle.git
[submodule "Bundles/Sinatra.tmbundle"]
	path = Bundles/Sinatra.tmbundle
	url = git://github.com/foca/sinatra-tmbundle.git
[submodule "Bundles/Shoulda.tmbundle"]
	path = Bundles/Shoulda.tmbundle
	url = git://github.com/drnic/ruby-shoulda-tmbundle.git
[submodule "Themes/WebPreview/github"]
	path = Themes/WebPreview/github
	url = git://github.com/kneath/github_textmate_preview.git
[submodule "Bundles/Bundler.tmbundle"]
	path = Bundles/Bundler.tmbundle
	url = git://github.com/drnic/Bundler.tmbundle.git
[submodule "Bundles/rsync.tmbundle"]
	path = Bundles/rsync.tmbundle
	url = git://github.com/itspriddle/rsync-tmbundle.git
[submodule "Bundles/PHP.tmbundle"]
	path = Bundles/PHP.tmbundle
	url = git://github.com/textmate/php.tmbundle.git
[submodule "Bundles/JavaScript.tmbundle"]
	path = Bundles/JavaScript.tmbundle
	url = git://github.com/textmate/javascript.tmbundle.git
[submodule "Bundles/HTML.tmbundle"]
	path = Bundles/HTML.tmbundle
	url = git://github.com/textmate/html.tmbundle.git
[submodule "Bundles/JSON.tmbundle"]
	path = Bundles/JSON.tmbundle
	url = git://github.com/textmate/json.tmbundle.git
[submodule "Bundles/Shell Script.tmbundle"]
	path = Bundles/Shell Script.tmbundle
	url = git://github.com/textmate/shellscript.tmbundle.git
[submodule "Bundles/CSS.tmbundle"]
	path = Bundles/CSS.tmbundle
	url = git://github.com/itspriddle/css-tmbundle.git
[submodule "Bundles/CSS Group.tmbundle"]
	path = Bundles/CSS Group.tmbundle
	url = git://github.com/webPragmatist/css-group-tmbundle.git
